/** ================= */
/** === variables === */
/** ================= */

:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

/** ========================= */
/** === estilos generales === */
    /** ========================= */

html {
    box-sizing: border-box;
    font-size: 62.5%;   /* 1rem = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/** ================ */
/** === globales === */
/** ================ */

body {
    background-color: var(--primario);
    font-size: 1.6rem;  /* 16px */
    line-height: 1.5;   /* interlineado */
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;  /* quitar linea inferior links */
}

img {
    width: 100%;    
}

.contenedor {
    max-width: 120rem;  /* 1200px para el contenedor como máximo */
    margin: 0 auto;     /* centrado */
}

h1, h2, h3 {
    text-align: center;         /* titulos centrados */
    color: var(--secundario);   
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;    /* 40px */
    text-shadow: -1px -2px 2px rgba(150, 150, 150, 1);
}

h2 {
    font-size: 3.2rem;    /* 32px */
}

h3 {
    font-size: 2.4rem;    /* 24px */
}

/** ================ */
/** === cabecera === */
/** ================ */

.header {
    display: flex;
    justify-content: center;    
}

.header__logo {
    /* separación de arriba y abajo */
    margin: 3rem 0;
}

/** ================== */
/** === navegación === */
/** ================== */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;     /* 1rem arriba y abajo, 0 a la izquierda */
    display: flex;
    justify-content: center;
    /* separa los elemntos con 2rem -> similar a margin-right */
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;    
}

.navegacion__enlace:last-of-type {
    /* siempre selecciona el último */
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** =========================== */
/** === contenido principal === */
/** =========================== */

/** === grid === */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* separación entre columnas horizontal */
    column-gap: 2rem;
    /* separación entre columnas vertical */
    row-gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/** === productos === */

.producto {
    background-color: var(--primarioOscuro);
    /* ensancha hacia dentro */
    padding: 1rem; 
    /* sombra */
    -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    /* disminulle separación entre textos */
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;   /* interlineado */
}

/** === gráficos dobles === */

.grafico {
    min-height: 30rem;      /* altura mínima 300px */
    background-repeat: no-repeat;   /* para que no repita la imagen */
    background-size: cover;         /* toma todo el tamño disponible */      
}

.grafico--camisas {         /* grid -> array ->  filas 1 2 3 4 5 6  columnas 1 2 3 4 */ 
    grid-row: 2 / 3;        /* 2º fila, se extiende del 2 al 3 */
    grid-column: 1 / 3;     /* 1º columna, se extiende del 2 hacia el 3 */
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {            /* quita scroll hacia lado derecho en el movil */
        grid-row: 5 / 6;        /* 5º fila, se extiende del 5 al 6 */
        grid-column: 2 / 4;     /* 2º columna, se extiende del 2 al 4 */
    }    
}

/** ============== */
/** === footer === */
/** ============== */

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;    /* ensarcha de arriba y abajo */
    margin-top: 2rem;   /* separación con el elemento de arriba */
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center; /* centrar horizontal */
    font-size: 2.2rem;
    text-shadow: -1px -2px 2px rgba(150, 150, 150, 1);
}

/** ===================== */
/** === nosotros.html === */
/** ===================== */

.nosotros {
    display: grid;
    grid-template-rows: 1fr auto;
}

@media (min-width: 768px) {
    .nosotros {    
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;   /* separación entre columnas 20px */
    }    
}

.nosotros__imagen {
    /* en movil se ve primero la imagen */
    grid-row: 1 / 2; 
    -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.75);   
}

@media (min-width: 768px) {
    .nosotros__imagen {
        /* en tablet y en pc primero texto y después imagen en 2 columnas */
        grid-column: 2 / 3;
    }
}

/** =============== */
/** === bloques === */
/** =============== */

.bloques {
    /* 2 columnas en movil */
    display: grid;
    grid-template-columns: 1fr 1fr;     /* 2 columnas */ 
    gap: 2rem;  /* separación entre columnas */
}

@media (min-width: 768px) {
    .bloques {
        /* 4 columnas en pc y tablet */
        grid-template-columns: repeat(4, 1fr);     /* 4 columnas */
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    /* quitar separación (margen) entre icono y titulo de abajo */
    margin: 0;
}

/** ===================== */
/** === producto.html === */
/** ===================== */

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;        
    }    
}

.camisa__imagen {
    -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.75); 
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; /* separación entre los inputs y botón del form */
}

.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: var(--blanco);
    color: var(--oscuro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    /* del color del botón al del hover */
    transition: background-color .2s ease;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);

    grid-column: 1 / 3; /* botón formulario ocupa dos columnas */
}

.formulario__submit:hover {
    font-size: 2.4rem;
    cursor: pointer;
    background-color: var(--secundarioOscuro)
}



